<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Anete Nesaule</title>
  </head>
  <body>
    <div class="image">
    <img class="anete" src="/foto1.png" alt="Anete">

    <div class="absolute">
      <p>
        <h1> Anete Nesaule </h1>
      </p>
      <p>
        <h2> Photography </h2>
        <h3> Design </h3>
        <h4> Movie </h4>
      </p>
    </div>

    <hr>

    <p class="copyright">
      &copy; Anete Kristīne Nesaule 2016
    </p>
  </body>
</html>
