<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">AKN Admin</li>
      <li>
        <%= link_to 'Foto', admin_fotos_path -%>
      </li>
      <li><a href="#">Video</a></li>
      <li><a href="#">Graphics</a></li>
    </ul>
  </div>
</div>
